<br />
<?php $status = $model->getStatus(); ?>
<p>
<?php if($status === 'UP') { ?>
<strong>Website is UP</strong>

<?php } else { ?>

<?= $status ?>

<?php } ?>
</p>

<?php if($model->check_ssl){ ?>
<p>Certificate will expire in <strong><?= $model->getCertificateExpiryDays(); ?></strong> days</p>
<?php } ?>
