<div class="container">
    <table class="table">
        <thead>
        <tr>
            <th>Website</th>
            <th>Status</th>
            <th>SSL</th>
        </tr>
        </thead>
        <tbody>
        {% for website in websites %}
            {% set status = website.getStatus() %}
            <tr class="{% if status == 'UP' and website.cert_days > 7 %}green lighten-3{% endif %}{% if status != 'UP' %}deep-orange accent-2{% endif %}{% if website.cert_days <= 7 %}amber lighten-1{% endif %}">
                <td><a href="{{ website.url }}" target="_blank">{{ website.url }}</a></td>
                <td>{{ website.getStatusMessage()|raw }}</td>
                <td>{{ website.cert_days }} days to expire</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
